.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
.body-wrapper {
  padding: 40px;
  background: #e8e6e652;
  min-height: 80vh;
}

.sidebar-wrapper {
  background: #e9e9e9;
}

.navbar-wrapper {
  background: #828384;
}

.navbar-wrapper-frontend a,
.navbar-wrapper a {
  color: #ffffff !important;
}

.navbar-wrapper-frontend {
  background: #4d8446;
}

#nprogress .bar {
  background: red !important;
}

#nprogress .peg {
  box-shadow: 0 0 20px red, 0 0 10px red !important;
}

#nprogress .spinner-icon {
  border-top-color: red !important;
  border-left-color: red !important;
}
